<div class="chat-w" id="schedulerMasterComponent">
  <div class="silk-form-wizard" style="box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);">

    <div class="d-flex justify-content-between bg-primary pb-1 pt-1 pl-1 pr-1 ">
      <!-- For MiniHeading--->
      <h6 class="ml-2 mt-1"><i class="fa fa-calendar mr-1 mt-1"></i>Scheduler Master</h6>
      <div class="">
        <div class="btn-panel btn-panel-msg">
          <!--<a href="" class="btn  send-message-btn" role="button"><i class="fa fa-gears fa-lg"></i></a>-->
        </div>
      </div>
    </div>

    <div class="pl-3 pt-3 pb-3 pr-3 bg-white">
      <div class="form-group-style">
        <div class="row">
          <div class="col-md-6">
            <label class="font-weight-bold">Application</label>
            <select name="archivalMSTAppType" id="schedulerMSTAppType" class="form-control">
              <option value="0">Select</option>
              <option value="1">ARCCC</option>
              <option value="2">Kuber</option>
              <option value="3">Hadoop</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="font-weight-bold">Event ID</label>
            <select name="archivalMSTEventType" id="schedulerMSTEventType" class="form-control">
              <option value="0">Select</option>
              <option value="1">Event-101</option>
              <option value="2">Event-221</option>
              <option value="3">Event-321</option>
            </select>
          </div>
        </div>
      </div>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Scheduler Set</legend>
        <div class="form-group-style">


          <div class="row">
            <div class="col-md-3">
              <label class="font-weight-bold">Schedule From</label>
              <div class="input-group">
                <span class="input-group-addon">From</span>
                <input type="text" class="form-control" placeholder="Schedule From" id="schedulerMSTScheduleForm" name="schedulerMSTScheduleForm" required>
              </div>
            </div>
            <div class="col-md-3">
              <label class="font-weight-bold">Schedule To</label>
              <div class="input-group">
                <span class="input-group-addon">To</span>
                <input type="text" class="form-control" placeholder="Schedule To" id="schedulerMSTScheduleTo" name="schedulerMSTScheduleTo" required>
              </div>
            </div>
            <div class="col-md-3">
              <label class="font-weight-bold">Schedule Repeat</label>
              <select name="archivalMSTEventType" id="schedulerMSTScheduleRepeat" class="form-control">
                <option value="0">Select</option>
                <option value="1">Daily</option>
                <option value="2">Week</option>
                <option value="3">Month</option>
                <option value="4">Custom</option>
              </select>
            </div>

            <div class="col-md-3" style="margin-top: -0.6%;">
              <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
              <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                {{meridian ? "12" : "24"}} - Hour Clock
              </button>
              <!--<hr>
        <pre>Selected time: {{time | json}}</pre>-->

            </div>

          </div>

        </div>
        <div class="btn-panel btn-panel-msg mr-1" style="margin-top:2%;">
          <button type="submit" class="btn btn-sm btn-success mr-1"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
          <button type="reset" class="btn btn-sm btn-warning mr-1"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
        </div>
      </fieldset>


    </div>
  </div>
</div>
