
    <!--================Home Banner Area =================-->
    <section class="home_banner_area blog_banner">
      <div class="banner_inner d-flex align-items-center">
          <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
          <div class="container">
              <div class="blog_b_text text-center">
                  <h2>Dude You’re Getting
                      <br /> a Telescope</h2>
                  <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first</p>
                  <a class="white_bg_btn" href="#">View More</a>
                  <img class="img-fluid" src="assets/img/banner-2.jpg" alt="">
              </div>
          </div>
      </div>
  </section> 
  <!--================End Home Banner Area =================-->
  <!--================Blog Categorie Area =================-->
  <section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="assets/img/blog/cat-post/cat-post-3.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Social Life</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Enjoy your social life together</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="assets/img/blog/cat-post/cat-post-2.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Politics</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Be a part of politics</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="assets/img/blog/cat-post/cat-post-1.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Food</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Let the food be finished</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->
<!--================Blog Area =================-->
<section class="blog_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="blog_left_sidebar">
                  <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                          </div>
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="assets/img/blog/main-blog/m-blog-1.jpg" alt="">
                              <div class="blog_details">
                                  <a href="single-blog.html">
                                      <h2>Astronomy Binoculars A Great Alternative</h2>
                                  </a>
                                  <p>MCSE boot camps have its supporters and its detractors. Some people do not understand
                                      why you should have to spend money on boot camp when you can get the MCSE study
                                      materials yourself at a fraction.</p>
                                  <a href="single-blog.html" class="white_bg_btn">View More</a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <article class="row blog_item">
                      <div class="col-md-3">
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="assets/img/blog/main-blog/m-blog-2.jpg" alt="">
                              <div class="blog_details">
                                  <a href="single-blog.html">
                                      <h2>The Basics Of Buying A Telescope</h2>
                                  </a>
                                  <p>MCSE boot camps have its supporters and its detractors. Some people do not understand
                                      why you should have to spend money on boot camp when you can get the MCSE study
                                      materials yourself at a fraction.</p>
                                  <a href="single-blog.html" class="white_bg_btn">View More</a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                          </div>
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="assets/img/blog/main-blog/m-blog-3.jpg" alt="">
                              <div class="blog_details">
                                  <a href="single-blog.html">
                                      <h2>The Glossary Of Telescopes</h2>
                                  </a>
                                  <p>MCSE boot camps have its supporters and its detractors. Some people do not understand
                                      why you should have to spend money on boot camp when you can get the MCSE study
                                      materials yourself at a fraction.</p>
                                  <a href="single-blog.html" class="white_bg_btn">View More</a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                          </div>
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="assets/img/blog/main-blog/m-blog-4.jpg" alt="">
                              <div class="blog_details">
                                  <a href="single-blog.html">
                                      <h2>The Night Sky</h2>
                                  </a>
                                  <p>MCSE boot camps have its supporters and its detractors. Some people do not understand
                                      why you should have to spend money on boot camp when you can get the MCSE study
                                      materials yourself at a fraction.</p>
                                  <a href="single-blog.html" class="white_bg_btn">View More</a>
                              </div>
                          </div>
                      </div>
                  </article>
              </div>
          </div>
      </div>
  </div>
</section>